body{
  background-color: gainsboro;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style:oblique;
}

.films-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
}
.container {
  text-align: center;
}
.btn {
  border: 3px solid #000;
  width: 235px;
  height: 50px;
}

.button {
  border: 3px solid red;
  height: 32px;
}
.input{
  border: 3px solid green;
  height: 25px;
  width: 170px;
}
.horizontal-line {
  border-top: 1px solid black;
}
